rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // פונקציות עזר
    function isAdmin() {
      return request.auth != null && 
        exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // חוקים לכל האוספים
    match /{document=**} {
      // כולם יכולים לקרוא
      allow read: if true;
      // אדמין יכול לכתוב
      allow write: if isAdmin();
    }

    // חריגים לחוק הכללי
    match /users/{userId} {
      // מאפשר קריאה של משתמשים ועדכון זמן התחברות לכולם
      allow read, update: if true;
    }

    match /userProgress/{userId} {
      // מאפשר עדכון התקדמות למשתמש מחובר
      allow update: if request.auth != null;
    }
  }
}
